/*Global Styles*/
body {
	font-family: var(--main-font);
	background-color: var(--bg-primary);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 31px);
}



/*Font Styles*/
h1 {
	font-size: 1.5rem;
	color: var(--heading-primary);
}

p {
	font-size: 0.9375rem;
	color: var(--text-primary);
}



/*Rating Component Styling*/
.rating-component__holder {
	max-width: 325px;
	width: 100%;
	padding: 16px 25.27px;
	background-color: var(--bg-secondary);
	border-radius: 20px;
}

.rating-button__holder {
	display: flex;
	justify-content: space-between;
}


/*Attribution Styles*/
.attribution {
    font-size: 11px; 
    text-align: center; 
    color: hsl(228, 45%, 44%); 
    padding: 10px;
}

.attribution a {
	color: hsl(228, 45%, 44%); 
}


/*Radio Button Styling*/
input[type="radio"] {
	display: none;
}

input[type="input"] {
	display: none;
}

input[type="radio"] label span {
	display: inline-block;
	padding: 25px;
	cursor: pointer;
	border-radius: 50%;
	background-color: var(--bg-tertiary);
	font-size: 1.25rem;
	color: var(--text-primary);
}

input[type="radio"] label:checked span {
	background-color: var(--button-primary);
	color: var(--heading-primary);
}

input[type="radio"] label:hover span {
	background-color: var(--button-secondary);
	color: var(--heading-primary);
}
